/* ********** base/_base.scss ********** */

@font-face {
  font-family: "font-1";
  src: url("./assets/fonts/SF_Cartoonist_Hand.ttf");
}
@font-face {
  font-family: "font-2";
  src: url("./assets/fonts/SF_Cartoonist_Hand_Bold.ttf");
}
