/* ********** Contains the styles of carousels ********** */

.carousel {
	.carousel-container {
		transition: transform 0.3s;
	}
	.carousel-next { // btn next.
		@include btn-carousel;
		right: -30px;
	}
	.carousel-prev { // btn prev.
		@include btn-carousel;
		left: -30px;
	}
}
