.footer {
	width: 100%;
	height: 200px;
	background: linear-gradient($black, black);
	color: $grey;
	.footer-container {
		max-width: 1440px;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		h2 {
			font-size: 3rem;
			color: rgb(221, 0, 0);
			margin-bottom: 20px;
		}
		h3 {
			font-size: 1.4rem;
		}
		.social {
			display: flex;
			&__mg {
				font-size: 1.8rem;
				margin : 10px 10px 20px 10px;
				a {
					text-decoration: none;
					color: $grey;
					:hover {
						color: $white;
					}
				}
			}
		}
		.copyright{
			p{
				font-size: 1.4rem;
				margin-bottom: 10px;
			}
		}
		.mentions-legales{
			color: $grey;
			:hover {
				color: $white;
			}
		}
	}
}
