/* ********** Contains the mediaqueries of modals ********** */

@media screen and(max-width: 1300px) { // 1024px max
	.modal-content {
		.modal-infos {
			font-size: 1.2rem !important;
			line-height: 1.6rem !important;
		}
	}
}

@media screen and(max-width: 1000px) { // 840px max
	.modal-content {
		width: 95% !important;
		height: 400px !important;
		.modal-infos {
			padding: 10px !important;
			font-size: 0.8rem !important;
			line-height: 1rem !important;
		}
	}
}

@media screen and(max-width: 550px) { // 490px max
	.modal-content {
		flex-direction: column !important;
		height: auto !important;
		img {
			width: 100% !important;
		}
		.modal-infos {
			font-size: 1rem !important;
			line-height: 1.4rem !important;
		}
	}
}
